@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
div.password-container{
    background-color: pink;
    width: 500px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 4px 8px  rgba(0, 0, 0, 0.3);
    margin:10px;
}
.input-container{
    border: solid 1px black;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    letter-spacing: 4px;
}
.inout::placeholder{
    letter-spacing: 0px;
  
}
.fa-copy{
    cursor: pointer;
    opacity: 0.3;
}
.fa-copy:hover{
    color: black;
    opacity: 0.8;
}
.btn-generate{
    margin-top: 10px;
    padding: 5px;
    background-color: #5783db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.btn-generate:hover{
    background-color: green;
}
.btn-generate:active{
    transform: scale(0.96);
}
footer{
    position: fixed;
    background-color: black;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 30px;
    color: white;
    text-align: center;
    
}

Footer a{
    list-style: none;
    color: white;
}
footer a:hover{
    color:green;
    cursor: pointer;
}
